[server]
[mysqld]
user			          = mysql
port			          = 3306
basedir			        = /usr
datadir			        = /var/lib/mysql
pid-file            = /var/run/mysqld/mysqld.pid
socket			        = /var/run/mysqld/mysqld.sock
skip_networking 	  = off
max_allowed_packet  = 64M
log_error           = /var/log/mysql/error.log
